@charset "utf-8";
/*HTML elements*/
body{
	background-color:#191919;	color:#5F5F5F;	font-family:  Arial, Helvetica, sans-serif;	padding:0px;
	margin:0px;
	font-size:12px;
	line-height: 1.2em;
}
ul{
	list-style:disc;
}
li{
	line-height:1.5em;
	margin-left:2em;
}
ul.primary li a{
	background-color:#333;
}
h1,h2,h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}
h1{
	font-size:3em;
	font-weight: bold;
	margin-top: 1.6em;
	margin-bottom: 1em;
	line-height:1em;
}
h2{
	font-size:2em;
	font-weight: bold;
	margin-top: 1.6em;	margin-bottom: 1em;	line-height:1em;
}
h3{
	font-size: 1.6em;
	font-weight: bold;
	margin-top: 1.6em;
	margin-bottom: 1em;
	line-height:1em;
}
h4{
	font-size:1.2em;
	font-weight: bold;
	margin-top: 1.2em;
	margin-bottom: 1em;
}
h5{
	font-size:1em;
	font-variant:bold;
}
em{
	font-style:italic;
}
strong{
	font-weight:bold;
}
input{
	background-color:#666;
	border:1px solid #262626;
	padding:4px;
}
textarea{
	background-color:#666;
	border:1px solid #262626;
	padding:4px;
}
.node p{
	line-height:1.4em;
	margin-top:1em;
	margin-bottom:1em;
	font-size:1em;
}
a {
	color:#ccc;
	text-decoration:none;
}
a:hover{
	color:#ddd;
}
 
/*HEADER*/

#header-wrapper{
	background-image: url("../images/nav_bgrnd_pattern.png");
	background-repeat:repeat-x;
}
#header{
	width:960px;
	margin:0 auto;
}
#logo-container{
	position:relative;
	width:230px;
	float:left;
	z-index:10;
}
/*NAVIGATION*/

#navigation{
	float:left;
}

#main-menu-links li{
	display:block;
	list-style:none;
	float:left;
	width:150px;
	margin:0;
}
#main-menu-links li a{
	color:#3E3E3E;
	font-family: 'Medula One', sans-serif;
	text-transform:uppercase;
	display:block;
	padding-top:20px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	margin-top:20px;
	text-align:center;
	border-right:1px solid #262626;
	font-size:2.2em;
	
}
#main-menu-links li a:hover{
	background-color:#000;
	color:#ccc;
}
.region-header{
	float: left;
	position: relative;
	margin-top: -67px;
}
/*LEFT BLOCK*/
#left-side{
	
	margin-top:20px;
	width:220px;
	float:left;
	border-right:1px solid  #262626;
}
#left-side h2{
	font-family: 'Medula One', sans-serif;
	padding:5px;
	background-color:#262626;
	color:#5F5F5F;
}
/*MAIN*/
#page-title{
	font-family: 'Medula One', sans-serif;
	margin-top:1em;
}
#main-wrapper{
	margin:0 auto;
	width:960px;
}
#main-content{
	width: 670px;
	float: left;
	padding: 20px;
}

/*FOOTER*/#footer-wrapper{	background-image: url("../images/nav_bgrnd_pattern.png");	min-height:200px;}	#footer{	width:940px;	margin:0 auto;	padding:10px;	text-align:center;
}
/*FORUM*/

div.comment{
	margin-top:20px;
}
#comments{
	margin-top:40px;
}
#forum table{
	width:100%;
	
}
#forum thead{
	background-image: url("../images/nav_bgrnd_pattern.png");
	background-color:#333;
}
#forum thead th{
	height:30px;
    text-align: center;
    vertical-align: middle
}
#forum tbody{
	background-color:#fff;
}
#forum td{
	padding:5px;
	border:1px solid #000;
}
#forum tr.odd{
	background-color:#333;
}
#forum tr.even{
	background-color:#666;
}
#forum td.title{
	width:350px;
	padding:10px;
}
#forum td.replies{
	width:75px;
}
#forum table  span.submitted{
	background-color:inherit;
}
#forum-0{
	width:680px;
}
div.comment-text ul{
	/*position:relative;
	bottom:20px;
	left:540px;*/

}
.submitted{
	font-size:.8em;
	background-color:#222;
	color:#ddd;
	padding:5px;
}
.comment-text h3 {
	display:none;
}
.comment-text .new{
	display:none;
}
.comment-reply{
	display:none !important;
}
.comment-permalink{
	display:none;
}
.commenter-name{
	display:inline;
}
.comment-time{
	display:inline;
}
.node-forum .content {
	padding:5px;
	border:1px solid #000;
	background-color:#333;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */